<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Item Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h1>{{wishes.name}}</h1>
    <h2>Added By: {{wishes.creator.name}}</h2>
    <p><b>Description:</b> {{wishes.desc}}</p><br>
    

    <h3>Users who have added this item to their wish lists:</h3>
    {% for w in wanters %}
        {{w.name}}
    {% endfor %}

    <a href="/dash">Home</a> |
    <a href="/logout">logout</a>
</body>
</html>